{% extends 'base.html' %}

{% load static %}


{% block content %}



<style type="text/css">
    body {
        background-image: url("{% static 'img/facial_recognition.png' %}");
        background-position: right; 
        background-size: cover;
        background-attachment: fixed;
    }
    .card {
  opacity: 0.95; /* Remplacez la valeur par le niveau d'opacité souhaité (entre 0 et 1) */
}
</style>



<div class="container" style="margin-left: 0.2cm; max-width: 3500px;" >

    <div class="row">
        <div class="col">


            {% if user != None %}


            <div class="card mb-3 ">
                <!-- Card image -->
                <img class="card-img-top" src="{{user.photo.url}}" alt="Card image cap" style="height: 400px;">


                <!-- Card content -->
                <div class=" card-body">

                    <div class="alert alert-info verification " style="font-size: small;"><strong>C'est bien vous <b>
                                {{user.first_name}} {{user.last_name}}</b> ?</strong>
                        <a href="{% url 'login' %}" class="btn btn-sm btn-danger">réessayer</a>
                        <a id="me" href="{% url 'login_user' user.user_id %}" class="btn btn-sm btn-primary">C'est moi</a>
                    </div>


<!-- double verification avec mot de passe --

                    <div class="password container" style="display:none;">
                        <form method="post" action="{% url 'login_user' user.user_id %}" id="form">
                            {% csrf_token %}
                            <div class="row">
                                <div class=" col ">

                                    <div class=" md-form">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="inputValidationEx2" class="form-control ">
                                        <label for="inputValidationEx2">Saisir votre mot de passe</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button
                                        class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0"
                                        type="submit">Login</button>
                                </div>
                            </div>
                        </form>

                        <div class="alert alert-danger text-center incorrect" style="font-size: small; display: none;">
                            <strong>Mot de passe incorrecte!
                            </strong>
                        </div>

                    </div>
-->


                </div>



            </div>
            {% else %}
            <div class="alert alert-danger text-center " style="margin-top: 250px;"><strong>Désolé ..! Aucun utilisateur n'a été reconnu.
                </strong> <a href="{% url 'login' %}" class="btn btn-danger">réessayer</a></div>

            {% endif %}


            


        </div>

        <div class="col">

            {% include 'login_form.html'%}
        </div>


    </div>



</div>








<!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {


        $('#me').click(function () {
            $('.verification').hide();
            $('.password').show();

        });
    });


    var form = document.getElementById('form');

    // Ajouter un gestionnaire d'événements pour le bouton "Login"
    form.addEventListener('submit', function (event) {
        event.preventDefault(); // Empêcher l'envoi du formulaire par défaut

        // Récupérer la valeur du champ de mot de passe
        var passwordInput = document.getElementById('inputValidationEx2');
        var passwordValue = passwordInput.value;

        // Récupérer le mot de passe stocké dans la vue
        var userPassword = '{{ user.password }}'; // Remplacer par le nom de la variable qui contient le mot de passe de l'utilisateur

        if (passwordValue === userPassword) {
            $('.incorrect').hide();
            form.submit();
        } else {
            // Les mots de passe ne correspondent pas, afficher un message d'erreur
            $('.incorrect').show();
        }
    });




</script>

-->




{% endblock %}