 
 {% extends 'base.html' %}

 {% load static %}


{% block content %}



<form method="POST">
  {% csrf_token %}

  <div class="container mt-5  " style="height: 10cm;">
    <div class="card" style="width: 20cm; margin-left: auto;margin-right: auto;">
      <div class="card-body">

        <h4 class="card-title">Etes vous sure de vouloir supprimer l'utilisateur " {{ deleted }} " ? </h4>
        <hr>
        <div class="row">
            
        <div class="col" style="margin-left:5cm ;"><a href="{% url 'user_list' %}" class="btn btn-secondary"> Annuler </a></div>
        <div class="col-md-6" ><input type="submit" value="supprimer" class="btn btn-danger"></div>
        </div>
      </div>
    </div>
  </div>
</form>

</form>



{% endblock %}



